* {
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

.header, .footer{
    background-color: rgb(2,104,165);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-style: bold;
    color: white;
}

.bio.text {
    padding: 2em 8em;
}

.bio.title {
    padding: 2em 3em;
    font-size: 1.5em;
    font-style: italic;
}

.skills {
    background-color: rgb(2,104,165);
    color: white;
    font-style: italic;
    padding-bottom: 1em;
    padding-top: 2em;
}

.skills.title {
    font-size: 1.5em;
    font-style: bold;
    padding: 0 6em 0 3em;
}

.skills.list {
    padding-left: 5em;
}

.skills.list ul {
    list-style: none;;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.projects-container img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;     
}

.project-1, .project-2 {
    display: flex;
    flex-direction: column;
}

.project-1.img,
.project-2.img {
    padding: 1em 0 0 7em;
}

.project-1.text,
.project-2.text {
    padding: 0 0 1em 7em;
}

.projects-title {
    font-size: 1.5em;
    font-style: bold;
    padding: 1em 0 1em 3em;
}

.contact-container {
    display: flex;
    flex-direction: column;
}
.contact-container label {
    color: black;
    font-size: .5em;
}

.contact-container.title {
    padding: 4em 0 1em 4em;
    font-size: 1.5em;
}


.contact.name,
.contact.name.input,
.contact.email, 
.contact.email.input,
.contact.message,
.contact.message.textarea {
    margin-left: 4em;
    font-size: 1.5em;
    
}

.contact.message.textarea {
    margin-bottom: 4em;
}

